@media (min-width: 480px) {
    /* ХЕДЕР */
    /* ФУТЕР */
    /* БАННЕР */
    /* ВІТРИНА */
    /* ЗАПИС ДО ЛІКАРЯ */
    /* ПОСЛУГИ */
    /* ПРЕВЮ БЛОГА */
    /* КАТАЛОГ */
    .catalog {
        display: flex;
        justify-content: space-between;
    }

    .catalog_filter {
        position: relative;
        top: auto;
        right: auto;
        padding: 92px 0 0 0;
        flex: 0 0 184px;
        width: 184px;
        height: auto;
        overflow: unset;
        z-index: 1;
    }
    
    .catalog_filter .close_btn {
        display: none;
    }

    .filter_title {
        display: none;
    }

    .catalog_content {
        width: calc(100% - 200px);
    }

    .open_filter {
        display: none;
    }
    /* ДЕТАЛЬНЕ ТОВАРУ */
    /* РАЗОМ ДЕШЕВШЕ */
    /* КОРЗИНА */

    .products_cart {
        max-height: 324px;
    }

    .cart_item {
        flex-direction: row;
        align-items: flex-end;
    }

    .cart_item {
        padding: 10px 24px 18px 39px;
    }

    .cart_item-photo {
        flex: 0 0 118px;
        margin: 0;
    }

    .cart_item-info {
        display: flex;
        flex-direction: column;
        padding: 0 20px 0 24px;
    }

    .cart_item-counter {
        margin: 0;
    }

    .cart_item-total {
        display: inline-block;
        min-width: max-content;
    }
    /* БЛОГ */
    /* СТАТТЯ */
    /* ОФОРМЛЕННЯ ЗАМОВЛЕННЯ */
    /* СПИСОК ЛІКАРІВ */
    /* ДЕТАЛЬНЕ ЛІКАРЯ */
    /* ЧАСТО ЗАПИТУЮТЬ */
}

@media (min-width: 640px) {
    .slick-dots {
        padding-top: 24px;
    }

    /* ХЕДЕР */
    .site_header .centre {
        position: relative;
    }

    .top_header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 25px 0 20px 0;
    }

    .logo_wrap {
        padding: 0;
        margin: 0;
    }

    .header_panel .toggle_language {
        display: flex;
        margin-right: 22px;
    }

    .header_panel .toggle_language a {
        border-bottom: 1px solid transparent;
        transition: 0.3s;
    }

    .header_panel .toggle_language a.active {
        pointer-events: none;
        cursor: unset;
    }

    .header_panel .toggle_language a:not([class]):hover {
        border-bottom: 1px solid var(--text-color);
    }

    .header_panel .icon {
        width: 26px;
        height: 26px;
    }

    .serch_from {
        height: 46px;
        left: auto;
        right: 0;
    }

    .serch_from.active {
        width: 300px;
    }

    .search_btn {
        left: auto;
        right: 0;
    }

    .serch_from input {
        padding: 0 46px 0 10px;
    }
    
    .serch_wrap .open_search .icon:hover {
        fill: var(--active-icon-color);
    }

    .open_menu {
        display: none;
    }

    .header_nav {
        display: grid;
        grid-template-columns: 1fr max-content;
        align-items: center;
    }

    .header_nav > ul {
        padding: 0 20px 0 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
    }

    .header_nav > ul li {
        margin: 0 auto 0 0;
    }

    .header_nav > ul a {
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        margin: 5px 10px;
        transition: border-bottom 0.3s;
        border-bottom: 1px solid transparent;
    }

    .header_nav >  ul > li:first-child a {
        margin-left: 0;
    }

    .header_nav> ul a:hover,
    .header_nav > ul a.active {
        border-bottom: 1px solid var(--link-color-active);
    }

    .header_nav > ul > li > ul {
        position: absolute;
        top: 100%;
        left: 0;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 0 24px 22px;
        visibility: hidden;
        opacity: 0;
        background-color: var(--site-bg-color);
        box-shadow: 0px 15px 30px -15px rgba(34, 60, 80, 0.2);
        border-bottom: 1px solid var(--border-color);
        z-index: 3;
    }
    
    .header_nav > ul > li > ul.animation {
        transition: 0.3s;
    }

    .header_nav > ul > li > ul.open_list {
        opacity: 1;
        visibility: visible;
    }

    .header_nav > ul > li > ul > .list_image-wrap {
        width: 50%;
        margin-right: 0;
        padding-right: 22px;
    }

    .header_nav > ul > li > ul > .list_image-wrap a {
        display: block;
        padding: 0;
        margin: 0;
        border-bottom: none;
    }

    .list_image-wrap img {
        width: 100%;
        height: auto;
    }
    
    .header_nav > ul > li > ul > li {
        width: 25%;
        margin-right: auto;
    }

    .header_nav > ul > li > ul > li:not(.list_image-wrap) {
        padding-right: 20px;
    }

    .header_nav > ul > li > ul > li > a {
        text-transform: none;
        font-weight: 500;
        text-align: start;
        border-bottom: 1px solid var(--border-color);
        padding-bottom: 4px;
        margin: 8px 0 20px 0;
    }

    .header_nav > ul > li > ul > li > ul a {
        text-align: start;
        text-transform: none;
        margin: 0 0 8px 0;
    }
    
    .header_nav > ul > li > ul > li > ul a:hover {
        border-bottom: 1px solid transparent;
    }
    /* ФУТЕР */
    .main_banner:first-child {
        padding-top: 24px;
    }
    /* БАННЕР */

    .main_slide {
        flex-direction: row;
    }

    .big_slider figcaption {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 410px;
    }

    .slide_image img {
        min-height: 100%;
        object-fit: cover;
    }

    .main_banner .btn {
        max-width: 156px;
        margin: 0;
        text-transform: none;
    }

    /* ЗАПИС ДО ЛІКАРЯ */

    .subscribe_box {
        flex-direction: row;
        align-items: center;
    }

    .subscribe_box + .subscribe_box {
        margin-top: 72px;
    }

    .subscribe_box:nth-child(even) {
        flex-direction: row-reverse;
    }

    .subscribe_inner {
        flex: 0 0 calc(50% - 10px);
        margin-bottom: 0px;
        width: 100%;
        transform: none;
    }

    .subscribe_box figcaption {
        margin: 0 auto;
        max-width: 350px;
        padding: 0;
    }

    .subscribe_text {
        margin-bottom: 40px;
    }

    .btn.subscribe_btn {
        margin: 0;
    }

    /* ПОСЛУГИ */
    /* ПРЕВЮ БЛОГА */
    /* КАТАЛОГ */
    /* ДЕТАЛЬНЕ ТОВАРУ */

    .catalog_details {
        display: flex;
        justify-content: space-between;
    }

    .details_sliders {
        width: 48%;
    }

    .product_info {
        width: 48%;
    }
    /* РАЗОМ ДЕШЕВШЕ */
    /* КОРЗИНА */
    /* БЛОГ */
    .blog_grid {
        grid-template-columns: repeat(2, 1fr);
    }
    /* СТАТТЯ */
    /* ОФОРМЛЕННЯ ЗАМОВЛЕННЯ */
    /* СПИСОК ЛІКАРІВ */
    /* ДЕТАЛЬНЕ ЛІКАРЯ */
    .doctors_info {
        flex-direction: row;
        justify-content: space-between;
    }

    .doctors_photo {
        max-width: 384px;
        width: 55%;
    }

    .doctor_text {
        max-width: 284px;
        width: 40%;
    }
    /* ЧАСТО ЗАПИТУЮТЬ */
    /* КОНТАКТИ */
    .contacts_inner {
        display: grid;
        grid-template-columns: minmax(0, 336px) 1fr;
        grid-column-gap: 20px;
    }
    /* ОБМІН І ПОВЕРНЕННЯ */ 
    .exchange_inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    .exchange_text {
        margin-bottom: 0;
    }
    /* ОПЛАТА ТА ДОСТАВКА */

    .delivery_grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /* ВАКАНСІЇ */
    .vacancies_list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    /* ХЕДЕР */
    .logo_wrap {
        max-width: 295px;
    }

    .logo_wrap .logo {
        height: 24px;
    }

    .header_panel .call_back {
        display: flex;
        flex-direction: column;
        margin-right: 30px;
    }

    .header_panel .call_back a {
        text-decoration: none;
    }

    .header_panel .call_back .call_me {
        color: var(--link-color-active);
        text-decoration: none;
        text-transform: lowercase;
        font-size: 12px;
        line-height: 16px;
        border-bottom: 1px solid transparent;
        transition: border-bottom 0.3s;
    }

    .header_panel .call_back .call_me:hover {
        border-bottom: 1px solid var(--link-color-active);
    }

    /* ФУТЕР */

    .site_footer .centre {
        padding: 0 10px;
    }

    .footer_top {
        display: flex;
    }

    .footer_menu {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 75%;
    }

    .footer_menu > li {
        padding-right: 20px;
        margin-bottom: 30px;
    }

    .footer_menu > li + li, 
    .footer_time {
        margin-top: 0;
    }

    .footer_time {
        width: 25%;
    }

    .footer_boottom {
        padding-top: 18px;
    }

    .footer_boottom {
        align-items: flex-start;
    }

    .copyright_wrap {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    /* БАННЕР */
    /* ВІТРИНА */
    /* ЗАПИС ДО ЛІКАРЯ */
    /* ПОСЛУГИ */
    /* ПРЕВЮ БЛОГА */

    .blog_slide {
        width: 378px;
    }

    /* КАТАЛОГ */
    .catalog_content .main_title {
        display: inline-block;
        width: 100%;
        font-size: 36px;
        line-height: 44px;
        padding-bottom: 14px;
        margin-bottom: 34px;
        border-bottom: 1px solid var(--border-color);
    }

    .main_title.search_title {
        border: none;
        margin-bottom: 15px;
        padding-bottom: 0;
    }

    .search_counter {
        padding-bottom: 14px;
        margin-bottom: 34px;
        border-bottom: 1px solid var(--border-color);
    }

    .dropdown_sort {
        display: none;
    }

    .catalog_control {
        margin-bottom: 24px;
    }

    .decktop_sort {
        font-size: 12px;
        line-height: 15px;
        display: flex;
        flex-wrap: wrap;
    }

    .decktop_sort > * {
        margin-right: 45px;
    }

    .decktop_sort a {
        border-bottom: 1px solid transparent;
        text-decoration: none;
        transition: 0.3s;
    }

    .decktop_sort a.active,
    .decktop_sort a:hover {
        border-color: var(--border-color);
    }

    .pgoduct_grid {
        grid-template-columns: 1fr 1fr;
    }

    .pagination{
        width: max-content;
        margin: 0 auto 48px auto;
    }
    /* ДЕТАЛЬНЕ ТОВАРУ */
    /* РАЗОМ ДЕШЕВШЕ */
    .discount_inner {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .discount_inner .product_item {
        width: auto;
    }
    .discount_inner .plus, 
    .discount_inner .sum {
        flex: 0 0 40px;
        margin: 0 20px;
    }
    /* КОРЗИНА */
    /* БЛОГ */
    /* СТАТТЯ */
    /* ОФОРМЛЕННЯ ЗАМОВЛЕННЯ */
    /* СПИСОК ЛІКАРІВ */
    /* ДЕТАЛЬНЕ ЛІКАРЯ */
    /* ЧАСТО ЗАПИТУЮТЬ */
    /* ОПЛАТА ТА ДОСТАВКА */

    .delivery_grid {
        grid-template-columns: repeat(3, 1fr);
    }
    /* ВАКАНСІЇ */
    .vacancies_list {
        grid-template-columns: repeat(3, 1fr);
    }

    /* БОНУСНА ПРОГРАМА */

    .bonus_grid {
        display: flex;
        justify-content: space-between;
    }

    .bonus_images {
        width: calc(50% - 8px);
    }

    .bonus_cards {
        width: calc(50% - 8px);
    }
}

@media (min-width: 992px) { 
    :root {
        --section-bottom: 72px;
    }
    /* ХЕДЕР */
    .header_nav > ul > li > ul > .list_image-wrap {
        width: 33.333%;
    }
    
    .header_nav > ul > li > ul > li {
        width: 16.666%;
    }

    .open-doctor_form {
        width: 258px;
        height: 48px;
        font-size: 16px;
        border-radius: 24px;
    }
    /* ФУТЕР */
    /* БАННЕР */

    .slim_banner {
        display: block;
        min-height: 100%;
    }

    .main_banner.banners_wrap {
        display: flex;
    }

    .main_banner.banners_wrap .big_slider {
        width: 70%
    }

    .main_banner.banners_wrap .slim_banner {
        width: 30%
    }

    .slim_banner .slick-list {
        height: calc(100% - 40px);
    }

    .slim_banner .slick-track {
        height: 100%; 
    }

    .main_banner.banners_wrap .big_slider figcaption {
        justify-content: flex-end;
        padding-bottom: 50px;
    }

    .slim_slide {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 20px 42px 50px 42px;
        height: 100%;
        background-color: var(--main-accent-color);
        color: var(--text-contrast);
    }

    .slim_slide .banner_title {
        margin-bottom: 30px;
    }

    .slim_slide .btn {
        max-width: 176px;
        border-color: var(--text-contrast);
        color: var(--text-contrast);
    }

    .slim_slide .btn:hover {
        background-color: var(--text-contrast);
        color: var(--main-accent-color);
    }
    /* ВІТРИНА */

    .product_slider {
        padding-bottom: 10px;
    }

    .product_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .product_filter {
        margin-bottom: 0;
    }
    
    .product_filter a {
        font-size: 16px;
        line-height: 22px; 
        padding-bottom: 0;   
    }

    /* .product-inner .slick-list {
        padding: 15px 15px 0 15px;
        margin: -15px -15px 0 -15px;
    } */



    .product_slider .product_item {
        margin-bottom: 100px;
    }

    .product_item::after {
        content: "";
        width: 100%;
        height: calc(100% + 60px);
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--site-bg-color);
        box-shadow: 0px 0px 30px rgba(66, 171, 179, 0.15);
        border-radius: 8px;
        z-index: -1;
        transition: 0.3s;
        visibility: hidden;
        opacity: 0;
    }
    
    .add_wish {
        visibility: hidden;
        opacity: 0;
        transition: 0.3s
    }

    .add_wish.active {
        visibility: visible;
        opacity: 1;
    }

    .product_item:hover {
        z-index: 2;
    }

    .product_item:hover::after,
    .product_item:hover .btn,
    .product_item:hover .add_wish {
        visibility: visible;
        opacity: 1;
    }

    .product_link:hover {
        animation: blick 1s ease-in;
    }

    @keyframes blick {
        0% {color: var(--link-color);}
        50% {color: var(--link-color-active);}
        100% {color: var(--link-color);}
    }
    /* ЗАПИС ДО ЛІКАРЯ */
    /* ПОСЛУГИ */
    /* ПРЕВЮ БЛОГА */
    /* КАТАЛОГ */

    .pgoduct_grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .pgoduct_grid {
        margin-bottom: 48px;
    }
    /* ДЕТАЛЬНЕ ТОВАРУ */
    .product_status {
        top: 10px;
        left: 18px;
    }

    .details_sliders {
        width: 57.721%;
        padding-bottom: 50px;
    }

    .btn.try_on {
        margin-left: auto;
        position: absolute;
        bottom: 0;
        right: 100px;
    }

    .product_info {
        padding-top: 10px;
        width: 32.405%;
    }

    .product_price .btn {
        width: 47.916%;
    }

    .product_price .add_wish {
        visibility: visible;
        opacity: 1;
    }

    .details_sliders {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .small_slider {
        display: block;
        padding-top: 30px;
        padding-bottom: 30px;
        height: max-content;
        width: 84px;
    }

    .main_slider {
        width: calc(100% - 100px);
        margin-bottom: 0;
    }

    .small_slide-item {
        width: 84px;
        height: 55px;
        margin: 4px 0;
    }

    .small_slide-item img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .small_slide-item.slick-current {
        border-color: var(--border-color);
    }

    .small_slider .slick-prev {
        top: 0;
        left: 50%;
        transform: translateX(-50%) rotate(90deg);
    }
    
    .small_slider .slick-next {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%) rotate(-90deg);

    }

    .small_slide-item {
        cursor: pointer;
    }
    /* РАЗОМ ДЕШЕВШЕ */
    .discount_inner .product_photo {
        height: 130px;
    }

    .discount_inner .plus, 
    .discount_inner .sum {
        margin: 0 45px;
    }
    /* КОРЗИНА */
    /* БЛОГ */
    .blog_grid {
        grid-template-columns: repeat(3, 1fr);
    }
    /* СТАТТЯ */
    /* ОФОРМЛЕННЯ ЗАМОВЛЕННЯ */
    .cart_order form {
        display: flex;
        max-width: none;
        justify-content: space-between;
    }

    .cart_column {
        flex: 0 0 31%;
        width: 31%;
        margin: 0;
    }
    /* СПИСОК ЛІКАРІВ */
    /* ДЕТАЛЬНЕ ЛІКАРЯ */
    /* ЧАСТО ЗАПИТУЮТЬ */
    /* ВАКАНСІЇ */
    .vacancies_title {
        font-size: 48px;
        line-height: 59px;
        margin-bottom: 32px;
    }
    /* ВАКАНСІЇ */
    .vacancies_list {
        grid-template-columns: repeat(4, 1fr);
    }
    /* БОНУСНА ПРОГРАМА */
    .bonus_cards {
        height: max-content;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1205px) {
    /* ХЕДЕР */
    /* ФУТЕР */
    /* БАННЕР */
    /* ВІТРИНА */
    .product-inner .slick-list {
        padding: 15px 0 0 0;
        margin: -15px 0 0 0;
    }

    .product-inner .slick-track {
        padding: 0 15px 0 15px;
    }
    /* ЗАПИС ДО ЛІКАРЯ */
    /* ПОСЛУГИ */

    .services_slider .slick-list {
        margin: -16px;
        padding: 16px;
    }
    /* ПРЕВЮ БЛОГА */

    .blog_preview-slider .slick-list {
        margin: -16px;
        padding: 16px;
    }

    .blog_preview-slider{
        justify-content: space-between;
    }
    /* КАТАЛОГ */
    .catalog_content {
        width: calc(100% - 300px);
    }
    /* ДЕТАЛЬНЕ ТОВАРУ */
    /* РАЗОМ ДЕШЕВШЕ */
    /* КОРЗИНА */
    /* БЛОГ */
    /* СТАТТЯ */
    /* ОФОРМЛЕННЯ ЗАМОВЛЕННЯ */
    /* СПИСОК ЛІКАРІВ */
    /* ДЕТАЛЬНЕ ЛІКАРЯ */
    /* ЧАСТО ЗАПИТУЮТЬ */
}